<ion-header >
  <ion-toolbar color="dark">
    <ion-title color="warning" class="ion-text-center">
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card color="light" routerLink="/ofertas">
        <img src="assets/promocao.png" alt="">
        <ion-item color="dark">
          <ion-label class="titulo-promocao">Confira nossos produtos em promoção!</ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card color="light" routerLink="/cristais">
        <img src="https://th.bing.com/th/id/OIP.eTekNU9-GmiyX6rLGa8hoQHaHJ?pid=ImgDet&rs=1" alt="">
        <ion-item color="light">
          <ion-label >Cristais</ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color="light" routerLink="/velas-aromaticas">
        <img src="https://th.bing.com/th/id/OIP.1Iauz_8N_cHRHkMa0wA7CAHaHA?pid=ImgDet&rs=1" alt="">
        <ion-item color="light">
          <ion-label>Velas Aromáticas</ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card color="light" routerLink="/mandalas">
        <img src="https://th.bing.com/th/id/R.4338aea1fd80090a2c51810be3e6c61d?rik=m0V1i8eSih0sng&pid=ImgRaw&r=0" alt="">
        <ion-item color="light">
          <ion-label>Mandalas</ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color="light" routerLink="/pulseiras">
        <img src="https://img.elo7.com.br/product/zoom/1C44534/pulseira-hippie-bohochic.jpg" alt="">
        <ion-item color="light">
          <ion-label>Pulseiras</ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>

